<!-- Navigation -->
<app-header-user></app-header-user>

<!-- Page Content -->
<div class="container mt-5 pt-5">
  <header class="jumbotron my-4">
    <h1 class="display-3">Bienvenido a Harmony Dealer</h1>
    <p class="lead">Tu tienda de productos músicales en Línea</p>
  </header>

  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let p of products" class="col-md-3">

            <div class="product-box">
              <img src="{{p.urlImage}}">
              <h2 class="card-text">{{p.name}}</h2>
              <div class="price">{{p.price | currency:'USD':'symbol':'1.0-0'}}</div>
              <div class="product-show">
                <a [routerLink]="['/cart/detailproduct', p.id]" class="primary-btn">Ver producto</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid py-2 bg-dark">
  <div class="row mt-2">
    <div class="col text-start" style="margin-top: auto;">
      <h2 class="text-center">Información de Contacto</h2>
      <ul class="nav flex-column m-3">
        <li class="nav-item p-2">
          <i class="bi bi-geo-alt"></i> Dirección: Calle 100 # 45 -38
        </li>
        <li class="nav-item p-2">
          <i class="bi bi-telephone"></i> Teléfono: 310 123 45678
        </li>
        <li class="nav-item p-2">
          <i class="bi bi-envelope"></i> Correo: <a class="text-decoration-none text-light"
            href="mailto:mpp.adso@gmail.com">mpp.adso&#64;gmail.com</a>
        </li>
      </ul>

    </div>
    <div class="col">
      <img src="/assets/logo-letras.png" alt="Harmony Dealer" style="width: 500px; margin-bottom: auto;">
      <p class="m-2 text-center text-white">Copyright &copy;HarmonyDealer2024</p>
    </div>
    <div class="col" style="margin-top: auto;">
      <h2 class="text-center" >Mapa del Sitio</h2>
      <ul class="nav flex-column m-3">
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PQRS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.container -->
</footer>