<!-- Header Admin-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand p-2" href="#">
            <img src="/assets/logo.png" alt="Avatar Logo" style="width: 60px; position: relative; bottom: 10px; " class="rounded-pill me-auto">
        </a>
        <span class="rounded-pill" ><a class="nav-link" href="#"></a></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" style="font-size: xx-large; background: radial-gradient(#141618 30%,rgba(0,0,0,0)70%); font-family: Arial, Helvetica, sans-serif;" href="#">HARMONY DEALER</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown dropstart">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        ADMIN
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/admin/category">Categorias</a></li>
                        <li><a class="dropdown-item" routerLink="/admin/product">Productos</a></li>
                        <li><a class="dropdown-item" routerLink="/admin/users">Usuarios</a></li>
                        <li><a class="dropdown-item" routerLink="/admin/analytics">Analiticas</a></li>
                        <li><a class="dropdown-item" href="#">Ordenes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/logout">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>