<app-header></app-header>

<div class="container">
    <h2>Pedidos del Usuario {{ username }}</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID Pedido</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.dateCreated | date }}</td>
          <td>{{ order.orderState }}</td>
          <td>{{ calculateTotal(order) | currency: 'USD':'symbol':'1.0-0' }}</td>
          <td><button class="btn btn-info" [routerLink]="['/orders/detail', order.id]">Ver Detalles</button></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary mb-3" [routerLink]="['/admin/users']">
      Volver a la lista de usuarios
    </button>
  </div>

  <app-footer></app-footer>
  