@import "~bootstrap/dist/css/bootstrap.css";
@import 'ngx-toastr/toastr';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body {
    padding-top: 0;
  }


 .product-box img {
  width: 250px;
  padding-bottom: 50px;
}

.product-show{
  padding-bottom: 20px;
}

a.primary-btn:hover{
  background:#0da8e4;
  color:#fff
}

.price{
  margin:15px 0 0;
  font-weight:800;
  color:#000000
}

.product-box h2{
  font-size:18px;
  padding-bottom:0;
  font-weight:500;
  color:#585858
}

/* 
 * ----------------------------
 * Footer
 * ----------------------------
 */


